* {
	text-align: center;
};

body{
	background-color: #E8B92D;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
};

.jumbotron {
  background-image: url("assets/img/burgerpic.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-bottom: 200px;
}

